@tailwind base;
@tailwind components;
@tailwind utilities;

.ai-response {
  h3 {
    display: inline-block;
    margin: 1rem 0 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.5rem;
  }

  li {
    display: inline-block;
    margin: 0.25rem 0;
    line-height: 2rem;
  }
}

strong {
  font-weight: 600;
}

textarea {
  scrollbar-color: #8888 transparent;
  scrollbar-width: auto;
}
